<ion-header>
  <ion-toolbar color="success">
    <ion-title color="dark">cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <div class="ion-padding">
  <ion-item>
        <ion-label position="floating"> Nome: </ion-label>
        <ion-input  type="text" [(ngModel)]="contato.nome" placeholder="Digite o seu nome:"></ion-input>
      </ion-item>
      <ion-item >
        <ion-label position="floating"> CPF: </ion-label>
        <ion-input  type="text" [(ngModel)]="contato.cpf" placeholder ="Insira seu CPF:"></ion-input>
      </ion-item>
      <ion-item >
        <ion-label position="floating"> Email: </ion-label>
        <ion-input  type="text" [(ngModel)]="contato.email" placeholder ="Insira seu email:"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Senha: </ion-label>
        <ion-input  type="password" [(ngModel)]="contato.senha" placeholder ="Insira sua senha:"></ion-input>
      </ion-item>

      <ion-button click="logar()" (click)="salvar()" expand="full" shape="around"color="success"> Salvar </ion-button>
      <ion-button href="home" expand="full" shape="around"color="success"> Voltar </ion-button>
      <ion-button href="listar" expand="full" shape="around"color="success"> Lista </ion-button>
      <ion-button href="autorizar" expand="full" shape="around"color="success"> Proximo </ion-button>
      </div>
</ion-content>
