<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
    <ion-back-button defaultHref="home"color="tertiary"></ion-back-button>
  </ion-buttons>
    <ion-title color="dark">cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <div class="ion-padding">
        <ion-item>
           <ion-label position="floating"> Nome: </ion-label>
           <ion-input  type="text" [(ngModel)]="contato.nome" placeholder="Digite o seu nome:"></ion-input>
         </ion-item>
      <br>
      <ion-item >
         <ion-label position="floating"> CPF: </ion-label>
         <ion-input  type="text" [(ngModel)]="contato.cpf" placeholder ="Insira seu CPF:"></ion-input>
      </ion-item>
      <br>
      <ion-item >
      <ion-label position="floating"> Nome do aluno : </ion-label>
      <ion-input  type="text" [(ngModel)]="contato.aluno" placeholder ="Digite o nome do aluno:"></ion-input>
      </ion-item>
      <br>
      <ion-item >
         <ion-label position="floating"> Parentesco: </ion-label>
         <ion-input  type="text" [(ngModel)]="contato.parentesco" placeholder ="Insira o seu parentesco:"></ion-input>
      </ion-item>
<br>
<ion-item>
<ion-label position="floating"> Email: </ion-label>
      <ion-input  type="text" [(ngModel)]="contato.email" placeholder ="Insira seu email:"></ion-input>
      </ion-item>
<br>
      <ion-item>
        <ion-label position="floating"> Senha: </ion-label>
     <ion-input  type="password" [(ngModel)]="contato.senha" placeholder ="Insira sua senha:"></ion-input>
      </ion-item>

      <ion-button (click)="salvar()" expand="full" shape="around"color="success"> Salvar </ion-button>
      <ion-button href="autorizar" expand="full" shape="around" color="success"><ion-icon name="arrow-round-forward"></ion-icon></ion-button>
      </div>
</ion-content>
