<ion-header>
  <ion-toolbar color = "dark">
    <ion-buttons slot="start">
    <ion-back-button defaultHref="home"color="tertiary"></ion-back-button>
  </ion-buttons>
      <ion-title color="primary">listar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let contato of listaContatos | async">
      <ion-label>{{ contato.nome }}</ion-label>
      <ion-label>{{ contato.cpf }}</ion-label>
      <ion-label>{{ contato.aluno }}</ion-label>
      <ion-label>{{ contato.parentesco }}</ion-label>
      <ion-label>{{ contato.email }}</ion-label>
      <ion-label>{{ contato.senha }}</ion-label>
      <ion-button (click) = "excluir(contato.key)"color="success"><ion-icon name="trash"></ion-icon></ion-button>

    </ion-item>
  </ion-list>
</ion-content>
