<ion-header>
  <ion-toolbar color="success">
    <ion-title color="dark">autorização para liberação de aluno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>EU <ion-input></ion-input> portador(a) do R.G ou CPF <ion-input></ion-input>
    autorizo a saida do(a) aluno(a) <ion-input></ion-input> matriculado(a) no <ion-input></ion-input> ano do curso
    tecnico em <ion-input></ion-input> pelo motivo <ion-input></ion-input>
    Grau de Parentesco: <ion-input></ion-input>
    Data: <ion-input></ion-input>
    Horario: <ion-input></ion-input>
  </p>
   <ion-button href="receber" expand="full" shape="around" color="success"> Enviar </ion-button>
       <ion-button href="home" expand="full" shape="around" color="success"> Voltar </ion-button>
</ion-content>
