<ion-header>
  <ion-toolbar color=success>
    <ion-title color="dark">
      Autorização
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="ion-padding">
    <ion-card color="dark"> Valide sua autorização de forma rapida e eficiente </ion-card>
    <ion-input [(ngModel)]="login.email" color="dark" expand="full" shape="around">Email:</ion-input>
    <ion-input [(ngModel)]="login.senha" type="password" color="dark" expand="full" shape="around">Senha:</ion-input>

    <ion-button color="success" expand="full" shape="around" (click)="logar()" expand="full" shape="around">
      <ion-text >Entrar</ion-text>
    </ion-button>
    <ion-button href="cadastro" color="success" expand ="full" shape="around"> Cadastro do Responsavel</ion-button>
        <ion-button href="sessao" color="success" expand ="full" shape="around"> Cadastro para Seção Pedagógica </ion-button>
    <ion-button (click)="redefinir()" expand="block" color="success"> Esqueceu sua senha? </ion-button>
    <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSxlTNQ00bSvio_2qw3DVKy1eLs0EwMdjPoVDkB1oPZ5pQleDJ&s.jpg"></ion-img>



  </div>
</ion-content>
